*{
    margin: 0;                      
    padding: 0;  
   }

   body {
    display: flex;                   /* Utiliza Flexbox */
    height: 100vh;                   /* Altura de la ventana completa */
    justify-content: center;         /* Centra el contenido horizontalmente */
    align-items: center;             /* Centra el contenido verticalmente */
    background: url('assets/fondo.jpeg');  /* Ruta de la imagen de fondo */
    background-size: cover;          /* La imagen cubre todo el fondo sin repetirse */
    background-position: center;     /* Centra la imagen dentro del fondo */
    margin: 0;                        /* Elimina los márgenes del body */
    padding: 0;  
}

.form-container {
    width: 80%;
    max-width: 325px;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 60px #000;
    text-align: center;
    margin-top: 50px;
  
}

.form-container img {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.form-container input, .form-container select {
    width: 87%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #080808;
    border-radius: 5px;
    font-size: 15px;
    color: #666666;
   
}
.form-container button,.form-container p {
    width: 90%;
    padding: 10px;
    background-color: #173753;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #1d70a2;
}

#status {
    display: none; /* El campo está oculto inicialmente */
}

.form-container label{
 color: #fff;
 font-size: 18px;
 background-color:#1d70a2 ;
 border-radius: 5px;
}